@keyframes Animation1 {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes Animation2 {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes Animation3 {
  to {
    visibility: hidden;
  }
}
@keyframes Animation4 {
  to {
    transform: rotate(360deg);
  }
}
.reservation__btn {
  color: white;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 20px 13px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
}

.reservation__btn:hover {
  filter: brightness(105%);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.commander {
  display: flex;
  justify-content: center;
}
.commander .commander__btn {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 20px 13px 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
}
.commander :hover {
  filter: brightness(105%);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.header--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header--menu .header__logo {
  height: 50%;
}
.header--menu i {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  text-align: start;
  margin-left: 30px;
}
.header--menu a {
  text-decoration: none;
  color: inherit;
}
.header--menu .collapse {
  visibility: collapse;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 15px 50px;
  background-color: #353535;
  justify-content: center;
}
footer .footer__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer__ul {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  footer .footer__ul {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  footer .footer__ul {
    flex-direction: row;
  }
}
footer .footer__ul .footer__image {
  width: 100px;
  height: 25px;
  filter: invert(100%);
}
footer .footer__ul .footer__ul--name {
  display: flex;
  flex-direction: row;
  color: white;
}
footer .footer__ul .footer__ul--name i {
  width: 30px;
}
footer .footer__ul .footer__ul--name a {
  text-decoration: none;
  color: inherit;
}

.loader {
  display: grid;
  background-color: #ffffff;
  opacity: 97%;
  height: 100vh;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1;
  animation: Animation3 0.1s 1.5s forwards;
}
.loader::after {
  content: "";
  align-self: center;
  justify-self: center;
  border-left: 10px solid #9356DC;
  border-top: 10px solid #ffffff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: Animation4 1s linear infinite;
}

body {
  margin: auto;
  min-width: 320px;
}

.header--index {
  justify-content: center;
}
.header--index .collapse {
  visibility: collapse;
}

.map .map__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
}
.map .map__flex i {
  margin-right: 15px;
}

.reservation .reservation__flex {
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #f7f7f7;
  height: 200px;
}
.reservation .reservation__flex .reservation__title {
  font-weight: bold;
  font-size: 20px;
}

.tutoriel {
  height: 200px;
}
@media (min-width: 1024px) {
  .tutoriel {
    height: 100px;
  }
}
.tutoriel .tutoriel__title {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0px 30px 20px;
}
@media (min-width: 768px) {
  .tutoriel .tutoriel__title {
    text-align: center;
  }
}
.tutoriel .tutoriel__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .tutoriel .tutoriel__flex {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .tutoriel .tutoriel__flex {
    justify-content: space-around;
  }
}
.tutoriel .tutoriel__flex .tutoriel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 260px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tutoriel .tutoriel__flex .tutoriel__btn {
    width: 500px;
  }
}
.tutoriel .tutoriel__flex .tutoriel__btn:hover {
  background-color: rgba(147, 86, 220, 0.1);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.tutoriel .tutoriel__flex .tutoriel__btn:hover .tutoriel__btn--name i {
  color: #9356DC;
}
.tutoriel .tutoriel__flex .tutoriel__btn .tutoriel__btn--num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-right: 260px;
  border-radius: 20px 20px 20px 20px;
  border: solid;
  color: white;
  border-color: #9356DC;
  background-color: #9356DC;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tutoriel .tutoriel__flex .tutoriel__btn .tutoriel__btn--num {
    margin-right: 500px;
  }
}
.tutoriel .tutoriel__flex .tutoriel__btn .tutoriel__btn--name {
  display: flex;
  align-items: center;
}
.tutoriel .tutoriel__flex .tutoriel__btn .tutoriel__btn--name i {
  margin-right: 20px;
  color: #7e7e7e;
}

.restaurants {
  margin-top: 100px;
  padding-top: 10px;
  background-color: #f7f7f7;
}
.restaurants .restaurants__title {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .restaurants .restaurants__title {
    text-align: center;
  }
}
.restaurants .restaurants__flex {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__flex .ligne {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants .restaurants__flex .ligne {
    flex-direction: row;
    justify-content: space-around;
  }
}
.restaurants .restaurants__flex .ligne a {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1024px) {
  .restaurants .restaurants__flex .ligne a {
    max-width: 483px;
  }
}
.restaurants .restaurants__flex .ligne a:hover {
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.restaurants .restaurants__flex .ligne a img {
  margin-top: 0px;
  margin-bottom: 15px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description span {
  display: flex;
  margin-left: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur {
  margin-right: 50px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description i {
  margin-top: 10px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur1 {
  position: absolute;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur2:hover {
  opacity: 0.9;
}
.restaurants .restaurants__flex .ligne .new::before {
  content: "Nouveau";
  color: #008766;
  position: absolute;
  background-color: #99e2d0;
  margin-top: 30px;
  margin-left: 380px;
  border-radius: 2px 2px 2px 2px;
  padding: 3px 6px 3px 6px;
}
@media (max-width: 1023px) {
  .restaurants .restaurants__flex .ligne .new::before {
    right: 0;
    margin-right: 50px;
  }
}

.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.conteneur {
  display: flex;
  justify-content: center;
}
.conteneur .menu {
  border-radius: 30px 30px 0px 0px;
  background-color: #f7f7f7;
  margin-top: -45px;
  position: relative;
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
.conteneur .menu .menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteneur .menu .menu__title .coeur {
  margin-right: 50px;
}
.conteneur .menu .menu__title i {
  margin-top: 20px;
}
.conteneur .menu .menu__title .coeur1 {
  position: absolute;
}
.conteneur .menu .menu__title .coeur2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
}
.conteneur .menu .menu__title .coeur2:hover {
  opacity: 0.9;
}
.conteneur .menu .menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .conteneur .menu .menu__flex {
    flex-direction: row;
  }
}
.conteneur .menu .menu__flex .menu__nom {
  margin-bottom: 30px;
}
.conteneur .menu .menu__flex .menu__nom .menu--title {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 9px;
}
.conteneur .menu .menu__flex .menu__nom .menu--title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  bottom: 0;
  left: 0;
  background: #99E2D0;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1024px) {
  .conteneur .menu .menu__flex .menu__nom .menu__btn {
    width: 30vw;
  }
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn--name {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px 0px 10px 20px;
  overflow: hidden;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn--name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn__right {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn__right .menu__btn--prix {
  padding: 29px 20px 0px 0px;
  font-weight: bold;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn__right .menu__btn--check {
  border-radius: 0px 20px 20px 0px;
  padding: 10px 20px 10px 20px;
  background-color: #99E2D0;
  margin-right: -60px;
  display: grid;
  place-items: center;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn__right .menu__btn--check i {
  border-radius: 50%;
  background: white;
  padding: 2px 2px 2px 2px;
  color: #99E2D0;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn:hover .menu__btn--check {
  margin-right: 0px;
  transition: all 0.5s;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn:hover .menu__btn--check i {
  animation: Animation2 ease 0.5s;
}
.conteneur .menu .menu__flex .menu__nom .delay-1 {
  animation: Animation1 ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  visibility: hidden;
}
.conteneur .menu .menu__flex .menu__nom .delay-2 {
  animation: Animation1 ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  visibility: hidden;
}
.conteneur .menu .menu__flex .menu__nom .delay-3 {
  animation: Animation1 ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  visibility: hidden;
}
.conteneur .menu .menu__flex .menu__nom .delay-4 {
  animation: Animation1 ease 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-delay: 0.4s;
}

/*# sourceMappingURL=style.css.map */
