.header--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header--menu .header__logo {
  height: 50%;
}
.header--menu i {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  text-align: start;
  margin-left: 30px;
}
.header--menu a {
  text-decoration: none;
  color: inherit;
}
.header--menu .collapse {
  visibility: collapse;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 10px;
  background-color: #353535;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}
footer .footer__image {
  width: 100px;
  height: 25px;
  filter: invert(100%);
  margin-left: 10px;
  margin-right: 50px;
}
footer .footer__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer__ul {
    flex-direction: row;
  }
}
footer .footer__ul .footer__ul--name {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0px 50px 0px 10px;
}
footer .footer__ul .footer__ul--name i {
  width: 30px;
}
footer .footer__ul .footer__ul--name a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: auto;
  min-width: 320px;
}

.header--index {
  justify-content: center;
}
.header--index .collapse {
  visibility: collapse;
}

.map .map__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
}
.map .map__flex i {
  margin-right: 15px;
}

.reservation .reservation__flex {
  padding: 30px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #f7f7f7;
  height: 200px;
}
.reservation .reservation__flex .reservation__title {
  font-weight: bold;
  font-size: 20px;
}
.reservation .reservation__flex .reservation__btn {
  color: white;
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 20px 13px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
}
.reservation .reservation__flex .reservation__btn:hover {
  filter: brightness(105%);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.tutoriel {
  height: 200px;
}
.tutoriel .tutoriel__title {
  font-weight: bold;
  font-size: 25px;
  margin: 30px 0px 30px 20px;
}
.tutoriel .tutoriel__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .tutoriel .tutoriel__flex {
    flex-direction: row;
  }
}
.tutoriel .tutoriel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px 15px 15px 15px;
  height: 50px;
  width: 260px;
  background-color: #f7f7f7;
}
.tutoriel .tutoriel__btn .tutoriel__btn--num {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-right: 260px;
  border-radius: 20px 20px 20px 20px;
  border: solid;
  color: white;
  border-color: #9356DC;
  background-color: #9356DC;
}
.tutoriel .tutoriel__btn .tutoriel__btn--name {
  display: flex;
  align-items: center;
}
.tutoriel .tutoriel__btn .tutoriel__btn--name i {
  margin-right: 20px;
  color: #7e7e7e;
}

.restaurants {
  margin-top: 100px;
  background-color: #f7f7f7;
}
.restaurants .restaurants__title {
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0px 30px 20px;
}
.restaurants .restaurants__flex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .restaurants .restaurants__flex {
    flex-direction: row;
  }
}
.restaurants .restaurants__flex .ligne {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants .restaurants__flex .ligne {
    flex-direction: row;
  }
}
.restaurants .restaurants__flex .ligne a {
  display: flex;
  flex-direction: column;
  height: 240px;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
}
.restaurants .restaurants__flex .ligne a img {
  margin-top: 0px;
  margin-bottom: 15px;
  max-width: 350px;
  max-height: 175px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description span {
  display: flex;
  margin-left: 15px;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 18px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur {
  margin-right: 50px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description i {
  margin-top: 10px;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur1 {
  position: absolute;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  color: #FF79DA;
}
.restaurants .restaurants__flex .ligne a .restaurants__card-description .coeur2:hover {
  opacity: 0.7;
}

.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}

.conteneur {
  display: flex;
  justify-content: center;
}
.conteneur .menu {
  border-radius: 30px 30px 0px 0px;
  background-color: #f7f7f7;
  margin-top: -45px;
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
.conteneur .menu .menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteneur .menu .menu__title .coeur {
  margin-right: 50px;
}
.conteneur .menu .menu__title i {
  margin-top: 20px;
}
.conteneur .menu .menu__title .coeur1 {
  position: absolute;
}
.conteneur .menu .menu__title .coeur2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  color: #FF79DA;
}
.conteneur .menu .menu__title .coeur2:hover {
  opacity: 0.7;
}
.conteneur .menu .menu__flex .menu__nom {
  margin-bottom: 30px;
}
.conteneur .menu .menu__flex .menu__nom .menu--title {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 9px;
}
.conteneur .menu .menu__flex .menu__nom .menu--title ::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  bottom: 0;
  left: 0;
  background: #99E2D0;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 20px 10px 10px;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn--name {
  display: flex;
  flex-direction: column;
}
.conteneur .menu .menu__flex .menu__nom .menu__btn .menu__btn--prix {
  margin-top: 20px;
}
.conteneur .commander {
  display: flex;
  justify-content: center;
}
.conteneur .commander .commander__btn {
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 20px 20px 20px 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 13px 20px 13px 20px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
}
.conteneur .commander :hover {
  filter: brightness(105%);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

/*# sourceMappingURL=style.css.map */
