footer {
    display: flex;
    flex-direction: column;
    padding: 30px 50px 15px 50px;
    background-color: #353535;
    justify-content: center;
    .footer__ul {
    display: flex;
    flex-direction: column;
    @include tablette;
    @media (min-width : 768px) {
        justify-content: space-between;
    }
    @include tablette;
    .footer__image {
        width: 100px;
        height: 25px;
        filter: invert(100%);
    }
    .footer__ul--name {
        display: flex;
        flex-direction: row;
        color: white;
        i {
            width: 30px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
}