.loader {
    display: grid;
    background-color: #ffffff;
    opacity: 97%;
    height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
    animation: Animation3 0.2s 3s forwards;
    &::after {
        content: "";
        align-self: center;
        justify-self: center;
        border-left: 4px solid $primary-color;
        border-top: 4px solid #ffffff ;
        border-radius: 50%;
        width: 120px; 
        height: 120px;
        animation: Animation4 1.5s linear infinite;
    }
  }