.loader {
    display: grid;
    background-color: #ffffff;
    opacity: 97%;
    height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
    animation: Animation3 0.1s 1.5s forwards;
    &::after {
        content: "";
        align-self: center;
        justify-self: center;
        border-left: 10px solid $primary-color;
        border-top: 10px solid #ffffff ;
        border-radius: 50%;
        width: 200px; 
        height: 200px;
        animation: Animation4 1s linear infinite;
    }
  }