.header--index {
    justify-content: center;
    .collapse {
        visibility: collapse;
    }
}
.map {
    .map__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-background;
        height: 50px;
        i {
            margin-right: 15px;
        }
    }
}
.reservation {
    .reservation__flex {
        padding: 30px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        background-color: $secondary-background;
        height: 200px;
        .reservation__title {
            font-weight: bold;
            font-size: 20px;
        }
    }  
}
.tutoriel {
    height: 200px;
    @media (min-width: 1024px){
        height: 100px;
     }
    .tutoriel__title {
        font-weight: bold;
        font-size: 25px;
        margin: 30px 0px 30px 20px;
        @media (min-width: 768px){
           text-align: center;
        }
    }
    .tutoriel__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        @include desktop;
        @media (min-width: 1024px)  {
            justify-content: space-around;
         }
        .tutoriel__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            margin-right: 30px;
            margin-left: 30px; 
            border-radius: 15px 15px 15px 15px;
            height: 50px;
            width: 260px;
            background-color: $secondary-background;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.200);
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 500px;
             }
            &:hover {
                background-color: rgba($primary-color, 0.1);
                box-shadow: 0px 0px 3px rgb(0, 0, 0);
                .tutoriel__btn--name i {
                    color: $primary-color;
                }
               
             }
            .tutoriel__btn--num {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                height: 20px;
                width: 20px;
                margin-right: 260px;
                border-radius: 20px 20px 20px 20px;
                border: solid;
                color: white;
                border-color: $primary-color;
                background-color: $primary-color;
                @media (min-width: 768px) and (max-width: 1023px) {
                    margin-right: 500px;
                 }
            }
            .tutoriel__btn--name {
                display: flex;
                align-items: center;
                i {
                    margin-right: 20px;
                    color: $terciaire-background;
                }
            }
        }
    }
    
}
.restaurants {
    margin-top: 100px;
    padding-top: 10px;
    background-color: $secondary-background ;
    .restaurants__title {
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
        @media (min-width: 768px){
           text-align: center;
        }
    }
    .restaurants__flex {
        display: flex;
        flex-direction: column;
        .ligne {
            display: flex;
            flex-direction: column;
            @media (min-width: 1024px){
                flex-direction: row;
                justify-content: space-around;
            }
            a {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                background-color: white;
                margin-bottom: 30px;
                border-radius: 20px 20px 20px 20px;
                padding-bottom: 10px;
                margin-right: 10px;
                margin-left: 10px;
                text-decoration: none;
                color: inherit;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.200);
                @media (min-width: 1024px) {
                    width: 45%;
                }
                &:hover{
                    box-shadow: 0px 0px 3px rgb(0, 0, 0);
                }
                img {
                    margin-top: 0px;
                    margin-bottom: 15px;
                    border-radius: 20px 20px 0px 0px;
                    object-fit: cover;
                    aspect-ratio: 16 / 9;
                    width: 100%;
                    height: 100%;

                    }
                .restaurants__card-description {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span {
                        display: flex;
                        margin-left: 15px;
                        align-items: center;
                        align-content: center;
                        text-align: center;
                        font-size: 18px;
                    }
                    .coeur {
                        margin-right: 50px;
                    }
                    i {
                        margin-top: 10px;    
                    }
                    .coeur1 {
                        position: absolute;
                    }
                    .coeur2 {
                        position: absolute;
                        opacity: 0;
                        transition: opacity 0.4s ease-in;
                        background-image: linear-gradient($primary-color , $secondary-color);
                        color: transparent;
                        -webkit-background-clip: text;
                    }
                    .coeur2:hover {
                        opacity: 0.9;      
                  }
                }
            }
        .new::before {
            content: "Nouveau";
            color: #008766;
            position: absolute;
            background-color: #99e2d0;
            margin-top: 30px;
            margin-left: 380px;
            border-radius: 2px 2px 2px 2px;
            padding: 3px 6px 3px 6px;
            @media (max-width: 1023px){
                right: 0;
            margin-right: 50px;
            }
             }  
        } 
    }
}