.header--index {
    justify-content: center;
    .collapse {
        visibility: collapse;
    }
}
.map {
    .map__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-background;
        height: 50px;
        i {
            margin-right: 15px;
        }
    }
}
.reservation {
    .reservation__flex {
        padding: 30px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        background-color: $secondary-background;
        height: 200px;
        .reservation__title {
            font-weight: bold;
            font-size: 20px;
        }
        .reservation__btn {
            color: white;
            border-radius: 25px 25px 25px 25px;
            background: linear-gradient($secondary-color , $primary-color);
            padding: 13px 20px 13px 20px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
        }
            .reservation__btn:hover {
                filter: brightness(105%);
                box-shadow: 0px 0px 3px rgb(0, 0, 0);
            }
    }  
}
.tutoriel {
    height: 200px;
    .tutoriel__title {
        font-weight: bold;
        font-size: 25px;
        margin: 30px 0px 30px 20px;
        @media (min-width: 1024px){
           text-align: center;
        }
    }
    .tutoriel__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        @include desktop;
    }
    
}
.restaurants {
    margin-top: 100px;
    padding-top: 10px;
    background-color: $secondary-background ;
    .restaurants__title {
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
        @media (min-width: 1024px){
           text-align: center;
        }
    }
    .restaurants__flex {
        display: flex;
        flex-direction: column;
        .ligne {
            display: flex;
            flex-direction: column;
            @media (min-width: 1024px){
                flex-direction: row;
                justify-content: space-around;
            }
            a {
                display: flex;
                flex-direction: column;
                min-width: 300px;
                background-color: white;
                margin-bottom: 30px;
                border-radius: 20px 20px 20px 20px;
                padding-bottom: 10px;
                margin-right: 10px;
                margin-left: 10px;
                text-decoration: none;
                color: inherit;
                @media (min-width: 1024px) {
                    max-width: 483px;
                }
                img {
                    margin-top: 0px;
                    margin-bottom: 15px;
                    border-radius: 20px 20px 0px 0px;
                    object-fit: cover;
                    aspect-ratio: 16 / 9;
                    width: 100%;
                    height: 100%;

                    }
                .restaurants__card-description {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    span {
                        display: flex;
                        margin-left: 15px;
                        align-items: center;
                        align-content: center;
                        text-align: center;
                        font-size: 18px;
                    }
                    .coeur {
                        margin-right: 50px;
                    }
                    i {
                        margin-top: 10px;    
                    }
                    .coeur1 {
                        position: absolute;
                    }
                    .coeur2 {
                        position: absolute;
                        opacity: 0;
                        transition: opacity 0.4s ease-in;
                        color: $secondary-color;
                    }
                    .coeur2:hover {
                        opacity: 0.7;      
                  }
                }
            }
        .new::before {
            content: "Nouveau";
            color: #008766;
            position: absolute;
            background-color: #99e2d0;
            margin-top: 30px;
            margin-left: 380px;
            border-radius: 2px 2px 2px 2px;
            padding: 3px 6px 3px 6px;
            @media (max-width: 1023px){
                right: 0;
            margin-right: 50px;
            }
             }
            
        } 
    }
}