@keyframes Animation1 {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1; 
        visibility: visible;                
    }
}
@keyframes Animation2 {
    0% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(0);          
    }
}
@keyframes Animation3 {
    to {
        visibility: hidden;       
    }
}
@keyframes Animation4 {
    to { 
        transform: rotate(360deg); 
    }
  }