$primary-color: #9356DC;
$secondary-color: #FF79DA;
$terciaire-color: #99E2D0;
$primary-background: #eaeaea;
$secondary-background: #f7f7f7;
$terciaire-background: #7e7e7e;
$breakpoints: (
  "tablette": 768px,
  "desktop": 1440px
);